@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Bold.ttf");
}

/* DEFAULT CSS */

.root {
    -fx-background-color: #2c2c2c;
    -fx-font-size: 16px;
    -fx-font-family: "Nunito";
}

.text {
    -fx-fill: #D8D9DA;
}

.text-field {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #404040;
    -fx-border-radius: 5px;
    -fx-border-width: 1;
    -fx-text-fill: #FFFFFF;
}

.text-area {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #404040;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;
}

.combo-box {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #404040;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-cell {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-cell:hover {
    -fx-background-color: #333333;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: null;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-pref-width: 40;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-pref-height: 2;
}

.spinner .text-field {
    -fx-background-color: #263238; /* Dark background color */
    -fx-border-color: #37474f; /* Dark border color */
    -fx-border-width: 1;
}

.check-box {
    -fx-font-size: 14px;
}

.check-box > .box {
    -fx-shape: "M 8 0 A 8 8 0 1 0 0 8 A 8 8 0 0 0 8 0";
    -fx-padding: 4px;
    -fx-background-color: #263238; /* Dark background color */
    -fx-border-color: #37474f; /* Dark border color */
    -fx-border-width: 1px;
}

.progress-bar {
    -fx-accent: #4dd0e1; /* Accent color for progress bar */
}

.progress-bar .track {
    -fx-background-color: #455a64; /* Darker background color */
}

.progress-bar .bar {
    -fx-background-color: #4dd0e1; /* Accent color for progress bar */
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #3498db;
    -fx-background-radius: 100px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #2980b9;
}

.scroll-bar {
    -fx-font-size: 12px;
}


/* ============================== */

.auth-layout {
    -fx-background-color: #1E1E1E; /* Dark background */
    -fx-padding: 0 50px 0 0;
}

.auth-layout2 {
    -fx-background-color: #1E1E1E; /* Dark background */
    -fx-padding: 0 20px 0 0;
}

.primary-button {
    -fx-background-color: #4DCAFF;
    -fx-padding: 7px 30px;
    -fx-fill: #1E1E1E;
}

.primary-button:hover {
    -fx-background-color: #4DDAFF;
    -fx-cursor: hand;
}

.primary-button:pressed {
    -fx-background-color: #4DCAFF;
}

.secondary-button {
    -fx-background-color: #1E1E1E; /* Dark background */
    -fx-padding: 7px 30px;
    -fx-border-color: #4DCAFF;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.secondary-button:hover {
    -fx-background-color: #2E2E2E; /* Dark background */
    -fx-cursor: hand;
}

.secondary-button:pressed {
    -fx-background-color: #333333; /* Darker background */
}

.link-button {
    -fx-background-color: transparent;
    -fx-padding: 7px 30px;
}

.small-checkbox .box {
    -fx-min-width: 12px;
    -fx-min-height: 12px;
}

.small-checkbox .label {
    -fx-font-size: 11px;
}

.side-nav {
    -fx-border-color: transparent #5a5a5a transparent transparent;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0;
}

.side-nav-item {
    -fx-padding: 15px 30px;
    -fx-cursor: hand;
}

.side-nav-item:hover {
    -fx-background-color: #222222;
}

.side-nav-item:pressed {
    -fx-background-color: #333333;
}

.nav-bar {
    -fx-background-color: #3c3c3c;
    -fx-padding: 10px 40px 10px 40px;
    /*-fx-border-color: transparent transparent #5a5a5a transparent;*/
    /*-fx-border-width: 0 0 1.5px 0;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.card-background {
    -fx-padding: 20px;
    -fx-background-color: #E5E5E5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.card-background:hover {
    -fx-background-color: #222222;
}

.card-background:pressed {
    -fx-background-color: #333333;
}

.card {
    -fx-padding: 20px;
    -fx-background-color: #333333;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.image-button {
    -fx-background-color: transparent;
    -fx-background-radius: 100px;
    -fx-cursor: hand;
}

.image-button:hover {
    -fx-background-color: #222222;
}

.image-button:pressed {
    -fx-background-color: #333333;
}

.container {
    -fx-padding: 20px 50px;
    -fx-border-color: #111;
    -fx-border-width: 1px;
    -fx-max-width: 100%;
    -fx-min-width: 800px;
    -fx-border-radius: 10px;
}

.small-container {
    -fx-padding: 20px 50px;
    -fx-border-color: #5a5a5a;
    -fx-border-width: 1px;
    -fx-max-width: 100%;
    -fx-min-width: 300px;
    -fx-max-height: 75px;
    -fx-border-radius: 10px;
}

.border {
    -fx-border-color: #5a5a5a;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.context-menu {
    -fx-background-color: #333333;
    -fx-border-radius: 10px;
}

.context-menu .item {
    -fx-padding: 15px 25px;
}

.context-menu .item:hover {
    -fx-background-color: #222222;
}

.context-menu .item:pressed {
    -fx-background-color: #333333;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-min-width: 90px;
    -fx-cursor: hand;
}

.nav-button.active {
    -fx-border-color: transparent transparent #377fee transparent;
    -fx-border-width: 0 0 2px 0;
}

.class-nav {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #5a5a5a transparent;
    -fx-border-width: 0 0 1px 0;
}

.class-banner {
    -fx-border-radius: 10px;
    -fx-min-width: 100%;
    -fx-min-height: 250px;
    -fx-background-color: #111111;
}

.profile {
    -fx-border-radius: 100px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: #111111;
}

.profile:hover {
    -fx-cursor: hand;
}

.circle-bg {
    -fx-padding: 5px;
    -fx-background-color: #4D0CF2;
    -fx-background-radius: 100px;
}

.task-item {
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
}

.task-item:hover {
    -fx-background-color: #222222;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.modal {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-border-width: 2px;
    -fx-border-color: #111111;
    -fx-background-color: #333333;
}

.upload-box {
    -fx-border-style: dashed;
    -fx-border-color: #111111;
    -fx-border-width: 1px;
    -fx-background-color: #444444;
}

.calendar-item {
    -fx-cursor: hand;
    -fx-font-size: 12px;
}

.calendar-item:hover {
    -fx-underline: true;
}

.reply-button {
    -fx-text-fill: #4DCAFF;
    -fx-font-size: 12px;
    -fx-padding: 0px 20px;
    -fx-cursor: hand;
}

.class-card {
    -fx-background-color: #464C5E;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    -fx-border-color: #5a5a5a;
}

.class-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.5), 10, 0, 0, 0);
}

.class-card:pressed {
    -fx-background-color: #222222;
}

.blue-bg {
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: #377fee;
}

.calendar {
    -fx-border-color: #404040;
    -fx-border-width: 1;
    -fx-background-color: #2E2E2E;
    -fx-text-fill: #FFFFFF;
}

.border-button {
    -fx-border-radius: 10px;
    -fx-border-color: #5a5a5a;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.bold-text {
    -fx-font-family: "Nunito Black";
}

.right-border {
    -fx-border-color: transparent #5a5a5a transparent transparent;
    -fx-border-width: 1px;
}

