@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Bold.ttf");
}

.root {
    -fx-background-color: #fff;
    -fx-font-size: 16px;
    -fx-font-family: "Nunito";
}

.text {
    -fx-fill: #36454F;
}

.auth-layout {
    -fx-background-color: transparent;
    -fx-padding: 0 100 0 0;
}

.primary-button {
    -fx-background-color: #4DCAFF;
    -fx-padding: 7px 35px;
}

.primary-button:hover {
    -fx-background-color: #4DDAFF;
    -fx-cursor: hand;
}

.primary-button:pressed {
    -fx-background-color: #4DCAFF;
}

.secondary-button {
    -fx-background-color: #FFFFFF;
    -fx-padding: 7px 35px;
    -fx-border-color: #4DCAFF;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.secondary-button:hover {
    -fx-background-color: #FAFAFA;
    -fx-cursor: hand;
}

.secondary-button:pressed {
    -fx-background-color: #D4D4D4;
}

.link-button {
    -fx-background-color: transparent;
    -fx-padding: 7px 35px;
}

.small-checkbox .box {
    -fx-min-width: 12px;
    -fx-min-height: 12px;
}

.small-checkbox .label {
    -fx-font-size: 11px;
}

.side-nav {
    -fx-padding: 30px 60px 30px 30px;
    -fx-border-color: transparent #E5E5E5 transparent transparent;
    -fx-border-width: 0 2px 0 0;
}

.nav-bar {
    -fx-background-color: transparent;
    -fx-padding: 15px 30px 15px 30px;
    -fx-border-color: transparent transparent #E5E5E5 transparent;
    -fx-border-width: 0 0 2px 0;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.card-background {
    -fx-padding: 20px;
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.card-background:hover {
    -fx-background-color: #F5F5F5;
}

.card-background:pressed {
    -fx-background-color: #E5E5E5;
}

.image-button {
    -fx-background-color: transparent;
    -fx-background-radius: 100px;
    -fx-cursor: hand;
}

.image-button:hover {
    -fx-background-color: #F5F5F5;
}

.image-button:pressed {
    -fx-background-color: #E5E5E5;
}

.container {
    -fx-padding: 30px;
    -fx-border-color: #36454F;
    -fx-border-width: 1px;
    -fx-max-width: 600px;
    -fx-border-radius: 10px;
}

.context-menu {
    -fx-background-color: #fff;
    -fx-border-radius: 10px;
}

.context-menu .item {
    -fx-padding: 15px 25px;
}

.context-menu .item:hover {
    -fx-background-color: #F5F5F5;
}

.context-menu .item:pressed {
    -fx-background-color: #E5E5E5;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-min-width: 90px;
    -fx-cursor: hand;
}

.nav-button.active {
    -fx-border-color: transparent transparent #000000 transparent;
    -fx-border-width: 0 0 2px 0;
}

.class-nav {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #E5E5E5 transparent;
    -fx-border-width: 0 0 2px 0;
}
