@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Bold.ttf");
}

.root {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-font-family: "Nunito";
}

.auth-layout {
    -fx-background-color: transparent;
    -fx-padding: 0 100 0 0;
}

.primary-button {
    -fx-background-color: #4DCAFF;
    -fx-padding: 7px 35px;
}

.primary-button:hover {
    -fx-background-color: #4DCAFF;
    -fx-cursor: hand;
}

.link-button {
    -fx-background-color: transparent;
    -fx-padding: 7px 35px;
}

.small-checkbox .box {
    -fx-min-width: 12px;
    -fx-min-height: 12px;
}

.small-checkbox .label {
    -fx-font-size: 11px;
}

.side-nav {
    -fx-padding: 30px 60px 30px 30px;
    -fx-border-color: transparent #E5E5E5 transparent transparent;
    -fx-border-width: 0 2px 0 0;
}

.nav-bar {
    -fx-background-color: transparent;
    -fx-padding: 15px 30px 15px 30px;
    -fx-border-color: transparent transparent #E5E5E5 transparent;
    -fx-border-width: 0 0 2px 0;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.card-background {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #000;
    -fx-border-width: 1px;
}
